<div class="page" fxLayout="column" fxLayoutAlign="space-between stretch">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
    <h1>Welcome to Frontier Software!</h1>
    <div *ngFor="let comment of comments" class="comment-card full-width">
      <app-comment-card [comment]="comment" (commentEdit)="onCommentEdit($event)" [currentUser]="currentUser">
      </app-comment-card>
      <div *ngIf="comment?.replies?.length > 0" fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="12px"
        class="mt-12 reply-block">
        <div *ngFor="let reply of comment.replies" class="reply-card">
          <app-comment-card [comment]="reply" (commentEdit)="onCommentEdit($event)" [currentUser]="currentUser">
          </app-comment-card>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-card full-width">
    <app-comment-box (commentBoxValue)="onNewComment($event)"></app-comment-box>
  </div>
</div>